:root { 
--white_A700_7e:#ffffff7e; 
--light_blue_300:#44c1ef; 
--light_blue_300_54:#43c1ef54; 
--blue_gray_900_14:#28334a14; 
--blue_gray_800_90:#2c386290; 
--white_A700_90:#ffffff90; 
--light_blue_300_33:#44c1ef33; 
--yellow_700_59:#f7be2259; 
--white_A700_75:#ffffff75; 
--yellow_700:#f7bf23; 
--blue_gray_800:#2c3862; 
--black_900_28:#00000028; 
--white_A700_19:#ffffff19; 
--red_A700:#d90000; 
--gray_700:#616160; 
--gray_400:#c3c5c4; 
--blue_gray_400:#8c8c8c; 
--white_A700_a2:#ffffffa2; 
--black_900_0f:#0000000f; 
--yellow_700_63:#f7bf2363; 
--blue_gray_800_00:#2c386200; 
--black_900_0c:#0000000c; 
--gray_400_87:#c3c5c487; 
--black_900_19:#00000019; 
--white_A700:#ffffff; 
}